.app
  &-container
    max-width: 1366px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: space-between
    justify-content: space-between
    height: calc(100vh - 197px)
    padding: 75px 75px 122px 100px
  &__preloader
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    font-size: 50px
  &.clear
    background: #498CEC
  &.rain
    background: #7290B9

.weather
  margin: 0 auto
  text-align: center
  h1
    font-size: 180px
    display: flex
    align-items: flex-start
    margin-bottom: -10px
  span
    font-size: 25px

@media screen and (max-width: '900px')
  .weather
    h1
      font-size: 120px
      font-weight: 300
      align-items: center
      img
        width: 150px
        height: 150px

@media screen and (max-width: '800px')
  .app
    &-container
      padding: 19px 19px 41px
      height: calc(100vh - 60px)

@media screen and (max-width: '600px')
  .weather
    h1
      font-size: 90px
      img
        width: 120px
        height: 120px
