.header
  display: flex
  justify-content: space-between
  &-city
    &__name
      font-size: 50px
    &-btns
      display: flex

      &__btn
        font-size: 18px
        color: #ffffff60
        align-items: center
        display: flex
